@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  color: inherit;
  background: linear-gradient(120deg, rgba(var(--color-highlight) / 1) 0%, rgba(var(--color-highlight) / 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
  font-weight: inherit;
}